[submodule "frontend/node_modules/.cache/gh-pages/https!github.com!atraskiasha!atraskireact.git"]
    path = frontend/node_modules/.cache/gh-pages/https!github.com!atraskiasha!atraskireact.git
    url = https://github.com/atraskiasha/atraskireact.git